<% @message = Message.new %>
<div class='container level-header'>
  <h2> Send Message </h2>
  <%= bootstrap_form_for(Message.new, layout: :horizontal)  do |f| %>
    <%= f.hidden_field :message_subject, value: 'SEND EMAIL TO IAIN AND TANIA'%>
    <%= f.text_area :email, label: 'Enter your email' %>
    <%= f.text_area :first_name, label: 'Enter your first name' %>
    <%= f.text_area :content, label: 'Details' %>
    <%= button_tag(type: 'submit', class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending..."}) do %>
      <i class="fa fa-save"></i> Send
    <% end %>
  <% end %>
</div>