<div class="container">
  <h2>Guest List</h2>
  <% @guests = locals[:guests] if @guests.nil? %>
  <div class="pull-right">
    <%= link_to "Add Guest", new_guest_path, class: "hollow button", id: "new-guest-link" if current_user && user_signed_in? %>
  </div>
  <table class="table table-striped">
    <thead>
      <th>First Name</th>
      <th>Surname</th>
      <th>Age Category</th>
      <th>Email</th>
      <% if current_user %>
        <th>Administration</th>
      <% end %>
    </thead>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.first_name %></td>
        <td><%= guest.surname %></td>
        <td><%= guest.age_category %></td>
        <td><%= guest.email %></td>
        <% if current_user && user_signed_in? %>
          <td><%= link_to "Edit", edit_guest_path(id: guest.id), class: "hollow button", id: "edit-guest-link" %>
          <%= link_to "Delete", guest_path(guest), method: :delete,
                class: "hollow button", id: "delete-guest-link" %></td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>
