<nav class = "navbar navbar-default navbar-fixed-top uppernav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsable">
      <ul class="nav navbar-nav foo pull-right" id="menu">
        <% if current_user %>
          <li class=<%= "active" if current_page?(rsvps_path) %>><%= link_to "Rsvp", rsvps_path, class: "hvr-sweep-to-right" %></li>
          <li class=<%= "active" if current_page?(guests_path) %>><%= link_to "Guests", guests_path, class: "hvr-sweep-to-right"%></li>
          <li class=<%= "active" if current_page?(gifts_path) %>><%= link_to "Gifts", gifts_path, class: "hvr-sweep-to-right"%></li>
          <li class=<%= "active" if current_page?(cgs_path) %>><%= link_to "Claimed Gifts", cgs_path, class: "hvr-sweep-to-right"%></li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "hvr-sweep-to-right" %></li>
        <% else %>
          <li class=<%= "active" if current_page?(welcome_path) %>><%= link_to "Home", welcome_path, class: "hvr-sweep-to-right"%></li>
          <li class=<%= "active" if current_page?(gifts_path) %>><%= link_to "Gift Registry", gifts_path, class: "hvr-sweep-to-right"%></li>
          <li class=<%= "active" if current_page?(new_rsvp_path) %>><%= link_to "Rsvp", new_rsvp_path, class: "hvr-sweep-to-right" if !current_user %></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">The Details <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Accomodation", accomodation_path %></li>
              <li><%= link_to "Contact Us", contact_us_path %></li>
              <li><%= link_to "FAQ", faq_path %></li>
              <li><%= link_to "Our Story", our_story_path %></li>
              <li><%= link_to "People", people_path %></li>
              <li><%= link_to "The Details", the_details_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
   </div>
  </div>
</nav>
