<div class='container form-scrollable'>
  <%= bootstrap_form_for(@gift, layout: :horizontal)  do |f| %>
    <%= f.text_field :caption, placeholder: 'Enter caption', class: 'form-control required' %>  
    <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Select Category" %>
    <%= f.text_field :description, placeholder: 'Enter description', class: 'form-control required' %>
    <%= f.number_field :price, placeholder: 'Enter price', class: 'form-control required' %>
    <%= f.number_field :desired_quantity, placeholder: 'Enter quantity required', class: 'form-control required' %>
    <%= f.text_field :website_link, placeholder: 'Enter link to product', class: 'form-control required' %>
    <div class='level-header'>
      <%= button_tag(type: 'submit', class: "btn gift-button command-button save-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}) do %>
        <i class="fa fa-save"></i> Save
      <% end %>      
      <%= link_to fa_icon("undo", text: 'Cancel'), gifts_path, class: 'btn gift-button command-button cancel-button hvr-sweep-to-right' %>
    </div>
  <% end %>
</div>