<div class = 'container level-header gift-page'>
  <%= link_to fa_icon("plus", text: 'Add Gift'), new_gift_path, class: "btn btn-primary hvr-sweep-to-right", id: 'new-gift-link' if current_user && user_signed_in? %>
  <% @categories = Category.all %>
  <div class="row">
    <% @categories.each do |cat| %>
      <h2 class='gift-categories'><%= cat.name %></h2>
      <% @gifts.where(category_id: cat.id).each do |gift| %>
        <% if gift.remainder_available > 0 %>
          <b><p><%= link_to gift.caption, gift.website_link %> (x<%=gift.remainder_available%>) - <%= number_to_currency gift.price%> </p></b>
          <p><%= gift.description %></p>
          <%= link_to fa_icon("pencil", text:'Cross Off Gift'), cross_off_gift_path(id: gift.id), class: "btn gift-button", id: 'cross-gift-link', remote: :true, data: { toggle: "modal", target: '#modal-window' } %>
          <div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" ></div>
          <% if current_user && user_signed_in? %>
            <p><%= link_to fa_icon("pencil", text:'Edit'), edit_gift_path(id: gift.id), class: "btn btn-success hvr-sweep-to-right", id: 'edit-gift-link' %>
                <%= link_to fa_icon("trash", text: 'Delete'), gift_path(gift), method: :delete,
                      class: "btn btn-danger hvr-sweep-to-right", id: 'delete-gift-link' %></p>
          <% end %>
        <% end %>
      <% end %>
    <%end%>
  </div>
</div>