<div class="bridesmaids-groomsmen-page container">
  <h2>Bridesmaids and Groomsmen</h2>
  <% @bridesmaids_groomsmen.each do |b| %>
    <div class="row text-center">
      <dl class="columns large-4">
        <% @photo_1 = b["photo_1"] %>
        <dt>Person's Photo</dt>
        <dd><%= image_tag(@photo_1, class: "img-responsive tidy-img") %></dd>
        <dt>Person's Name</dt>
        <dd><p><%= b["name_1"] %></p></dd>
        <dt>Person's Title</dt>
        <dd><span><%= b["title_1"] %></span></dd>
      </dl>
      <dl class="columns large-4">
        <% @photo_2 = b["photo_2"] %>
        <dt>Person's Photo</dt>
        <dd><%= image_tag(@photo_2, class: "img-responsive tidy-img") %></dd>
        <dt>Person's Name</dt>
        <dd><p><%= b["name_2"]%></p></dd>
        <dt>Person's Title</dt>
        <dd><span><%= b["title_2"] %></span></dd>
      </dl>
      <dl class="columns large-4">
        <% @photo_3 = b["photo_3"] %>
        <dt>Person's Photo</dt>
        <dd><%= image_tag(@photo_3, class: "img-responsive tidy-img") %></dd>
        <dt>Person's Name</dt>
        <dd><p><%= b["name_3"] %></p></dd>
        <dt>Person's Title</dt>
        <dd><span><%= b["title_3"] %></span></dd>
      </dl>
    </div>
  <% end%>
</div>
