<%-
  content_for :page_title, "The Wedding"
-%>
<div class="info-page">
  <% if @info.nil? %>
    <% @info = JSON.parse((File.read("#{Rails.root}/public/json/info.json"))) %>
  <% else %>
    <h2>Info</h2>
  <% end %>
  <div class="row">
    <% @info.each do |d| %>
      <dl class="col-md-6">
        <dt class="hidden-label">Event Name</dt>
        <dd><p><%= d["name"].upcase %></p></dd>
        <dt>TIME</dt>
        <dd class="info-time"><%= d["time"] %></dd>
        <dt>LOCATION</dt>
        <dd><%= link_to "#{d["location"]}", d["url"] %></dd>
        <dt class="hidden-label">Address Lines</dt>
        <dd><%= d["address_line_1"]%></dd>
        <dd><%= d["address_line_2"]%></dd>
        <dd><%= d["address_line_3"]%></dd>
        <dd><%= d["address_line_4"]%></dd>
      </dl>
    <% end %>
  </div>
</div>
