<div class="container festivities">
  <h2>Wedding Festivities</h2>
  <div class="hr"></div>
  <div class="row">
    <% @wedding_festivities.each do |d| %>
      <div class="columns large-6">
        <h3><%= link_to "#{d["name"]}", d["url"]%></h3>
        <dl>
          <dt>TIME</dt><dd><%= d["time"] %></dd><br>
          <dt>LOCATION</h4><h5><%= d["location"] %></dt>
          <dd><%= d["address_line_1"]%></dd>
          <dd><%= d["address_line_2"]%></dd>
          <dd><%= d["address_line_3"]%></dd>
          <dd><%= d["address_line_4"]%></dd>
        </dl>
      </div>
    <% end %>
  </div>
</div>
