<!DOCTYPE html>
<html>
  <head>
    <title>TJIW</title>
      <%= favicon_link_tag 'heart.ico' %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <%= csrf_meta_tags %>
  </head>
  <body class = "body-style">
    <div id = 'navbar' >
      <%= render 'shared/navbar' %>
    </div>
    <div class = 'row'>
      <%= render 'shared/flash_messages', flash: flash %>
    </div>
    <div id = "container">
      <%= yield %>
    </div>
  </body>
</html>